<!DOCTYPE html>
<html>
  <head>
    <title>Genomic Region</title>
  </head>
  <body>
    <h1>Enter Genomic Region</h1>
    <form method="POST">
      <label for="accession_number">Accession Number:</label><br />
      <input type="text" id="accession_number" name="accession_number" /><br />
      <label for="start_position">Start Position:</label><br />
      <input type="number" id="start_position" name="start_position" /><br />
      <label for="end_position">End Position:</label><br />
      <input type="number" id="end_position" name="end_position" /><br />
      <input type="submit" value="Submit" />
    </form>
  </body>
</html>
